
{% extends 'base.html' %}

{% block title %}Book Detail{% endblock title %}

{% block content %}
  <h1>Book Detail</h1>
  <ul>

    <li>
        <label>Book name : </label>
        {{ Books.title }}<br>

        <label>Author : </label>
        {{ Books.author }}<br>

        <label>Publication date: </label>
        {{ Books.publication_date }}<br>

        <label>Price : </label>
        {{ Books.price }}<br>

        <label>Description : </label>
        {{ Books.description }}<br>

        <label>Book category  : </label>
        {{ Books.category }}<br>

        <label>Genre : </label>
        {{ Books.genre }}<br>

        <label>Book Rating : </label>
        {{ Books.rating }}<br>

    </li><br>

 </ul> 


 
{% endblock content %}
