
{% extends 'base.html' %}

{% block title %} List of Books {% endblock title %}

{% block content %}

<h1>List Of Books.......</h1>


 <ul>
    {% for bk in Books %}
    <li>
        <label>Book name : </label>
        {{ bk.title }}<br>

        <label>Author : </label>
        {{ bk.author }}<br>

        <label>Publication date: </label>
        {{ bk.publication_date }}<br>

        <label>Price : </label>
        {{ bk.price }}<br>

        <label>Description : </label>
        {{ bk.description }}<br>

        <label>Book category  : </label>
        {{ bk.category }}<br>

        <label>Genre : </label>
        {{ bk.genre }}<br>

        <label>Book Rating : </label>
        {{ bk.rating }}<br>

    </li><br>
    {% endfor %}
 </ul> 

{% endblock content %}
